.env
.env.sh
logs/*
node_modules/
*.pem
*.crt
*.key
.env
.secret
.host
.artifacts/*
.secrets/*
.tmp/*
.backups/*
.logs/*
.releases/
secret.*
.archive.*
.secret*
test.sh
reference.txt
*.test
!.gitkeep

.DS_Store
!__test__.*
