.env
.env.sh
logs/*
node_modules/
*.pem
*.crt
*.key
.ssh/
.env
.secret
.host
.artifacts/*
.secrets/*
.tmp/*
.backups/*
.logs/*
.installs/
secret.*
.archive.*
.secret*
test.*
test.experiments/
reference.txt
*.test
!.gitkeep
sandbox.sh

.DS_Store
!__test__.*
!test.sh
